body {
    background-color: rgb(245, 245, 245);
           
            
    }

img {
     height: 100px;
            
    }
.myDiv {
    background-color: #e1e8e9;      
    text-align: center;
         
    }

.div3{
    background-color: #e1e8e9;
}

.div5{
    background-color: #e1e8e9;

}

        

        
   